In [14]:
import math
import pandas as pd
from scipy import stats

In [2]:
df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-science/homeprices.applied.econ.csv')

In [3]:
df.head()

,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,66000.0,3880,3,2,2,yes,no,yes,no,no,2,no
2,83800.0,4800,3,1,1,yes,yes,yes,no,no,0,no
3,45000.0,3986,2,2,1,no,yes,yes,no,no,1,no
4,65900.0,4510,4,2,2,yes,no,yes,no,no,0,no

In [12]:
# 1) Do homes with air conditioning have a higher sales price than homes without air conditioning?
# Hypothesis: homes with air conditioning will cost more on average than homes without it

with_airco = df[df['airco'] == 'yes']
no_airco = df[df['airco'] == 'no']

In [8]:
stats.ttest_ind(with_airco['price'], no_airco['price'])

'''
The ttest above indicates that there may not be a statistically significant correlation between airconditioning and price
which might be because airconditioning is only needed in houses where their geographic region might require it more heavily.
This means plenty of houses that are expensive, but in colder climates, may not need them.
'''

Ttest_indResult(statistic=11.862852780650169, pvalue=4.972721571759431e-29)

In [11]:
# 2) Do homes with a full basement have a higher sales price than homes without a full basement?

with_basement = df[df['fullbase'] == 'yes']
no_basement = df[df['fullbase'] == 'no']

In [10]:
stats.ttest_ind(with_basement['price'], no_basement['price'])

'''
Even though the pvalue in the ttest for basements is significantly lower than the previous category, it isn't low enough to be
considered significantly significant meaning the presence of the basement won't always indicate a higher house price
'''

Ttest_indResult(statistic=4.420628512286621, pvalue=1.1885626562866786e-05)

In [15]:
def get_95_ci(array_1, array_2):
    sample_1_n = array_1.shape[0]
    sample_2_n = array_2.shape[0]
    sample_1_mean = array_1.mean()
    sample_2_mean = array_2.mean()
    sample_1_var = array_1.var()
    sample_2_var = array_2.var()
    mean_difference = sample_2_mean - sample_1_mean
    std_err_difference = math.sqrt((sample_1_var/sample_1_n)+(sample_2_var/sample_2_n))
    margin_of_error = 1.96 * std_err_difference
    ci_lower = mean_difference - margin_of_error
    ci_upper = mean_difference + margin_of_error
    return("The difference in means at the 95% confidence interval (two-tail) is between "+str(ci_lower)+" and "+str(ci_upper)+".")

get_95_ci(with_basement['price'], no_basement['price'])

'The difference in means at the 95% confidence interval (two-tail) is between -15032.294775656886 and -5801.544262762097.'